<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
	   <listeners>
        <listener class-name="Utilities.RetryListener" />
    </listeners>
	<test thread-count="5" name="Test">
		<parameter name="Browser" value="chrome" />
		<parameter name="Url" value="https://www.saucedemo.com/" />
		<classes>
			<class name="TestProject.testClass" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
